---
import { ViewTransitions } from 'astro:transitions';
import BaseHead from '~/components/BaseHead.astro';
import Footer from '~/components/Footer.astro';
import '~/styles/global.css';

export interface Props {
  title: string;
  description: string;
  ogImage?: string;
}

const {
  title,
  description = "break things on accident, fix things on purpose",
  ogImage = '/social-banner.webp' // Default social banner
} = Astro.props;

const canonicalURL = new URL(Astro.url.pathname, Astro.site);
---
<html lang="en" class="dark">
  <head>
    <BaseHead {title} {description} {ogImage} {canonicalURL} />
    <ViewTransitions />
  </head>
  <body class="relative">
    <div class="scanline-overlay"></div>

    <main class="w-full max-w-3xl mx-auto px-4 py-8 md:py-12">
      <slot />
    </main>
    <Footer />
  </body>
</html>